@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #f1f1f1;
  color: #0f141e;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;

}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  width: 19%;
  float: right;
  margin: 2px;
  padding: 5px 10px;
  background: #f5ba5b
}

img {
  width: 200px;
  border-radius: 10px;
}

.info-text {
  margin-top: 20px;
}

.contact__type {
  padding-top: 30px;
}

.info h1 {
  color: #86898f;
  margin: 0px;
  font-style: italic;

}

.info h2 {
  color: #86898f;
  margin: 0px;
  font-style: italic;

}

.info {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
}

.description {
  margin-bottom: 20px;
}

.container {
  width: 75%;
  margin: auto;
}

.contact {}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.bg-yellow {
  background-color: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e5;
}

.Languages {
  padding: 0 20px;
}

.Languages li {
  color: #86898f
}

.description {
  background: #beed;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 10px;

}

.dg-bluue {
  background: #b7e0ed;
}

.skilll {
  list-style: square;
}

.end {
  width: 75%;
  margin: auto;
  text-align: center
}